/* about.css */

.container-about {
    text-align: center;
}

.about h2 {
    margin: 10px;
    padding: 10px;
}

.about p {
    margin: 10px;
    padding: 10px;
}

.container-intro {
    text-align: center;
}

.intro h2 {
    margin: 10px;
    padding: 10px;
}

.intro p {
    text-align: left;
    margin: 10px;
    padding: 10px;
}

.container-resume {
    text-align: center;
}

.resume h2 {
    margin: 10px;
    padding: 10px;
}

.resume p {
    text-align: left;
    margin: 10px;
    padding: 10px;
}