/* business.css */

.container-business {
    text-align: center;
}

.business h2 {
    font-size: 40px;
    margin: 10px;
    padding: 10px;
}

.business p {
    text-align: left;
    font-size: 25px;
    margin: 10px;
    padding: 10px;
}

.container-title {
    text-align: center;
}

.title {
    font-size: 40px;
    margin: 10px;
    padding: 10px;
}

.container-business {
    text-align: center
}

.welcome {
    text-align: left;
    font-size: 25px;
    margin: 10px;
    padding: 10px;
}

.container1 {
    display: flex;
    justify-content: center;
}

.title1 {
    display: inline;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
}

.owner1 {
    display: inline;
    text-align: center;
}

.owner1 h5 {
    display: block;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    margin: 10px;
    padding: 10px;
}

.owner1 p {
    display: block;
    font-size: 25px;
    text-align: justify;
    margin: 10px;
    padding: 10px;
}

.container2 {
    display: flex;
    justify-content: center;
}

.title2 {
    display: inline;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
}

.owner2 {
    display: inline;
    text-align: center;
}

.owner2 h5 {
    display: block;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    margin: 10px;
    padding: 10px;
}

.owner2 p {
    display: block;
    font-size: 25px;
    text-align: justify;
    margin: 10px;
    padding: 10px;
}

