/* index.css */

.container-welcome {
    text-align: center;
}

.welcome h2 {
    font-size: 40px;
    margin: 10px;
    padding: 10px;
}

.welcome p {
    font-size: 25px;
    margin: 10px;
    padding: 10px;
}

.container-check {
    text-align: center;
}

.check h2 {
    font-size: 40px;
    margin: 10px;
    padding: 10px;
}

.check p {
    font-size: 25px;
    margin: 10px;
    padding: 10px;
}