/* nicoliao0918.css */

.container-check {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.check h2 {
    margin: 10px;
    padding: 10px;
}

.check p {
    margin: 10px;
    padding: 10px;
}

.check a {
    margin: 10px;
    padding: 10px;
}