/* portfolio.css */

.container-portfolio {
    text-align: center;
}

.portfolio h2 {
    font-size: 40px;
    margin: 10px;
    padding: 10px;
}

.portfolio p {
    text-align: left;
    margin: 10px;
    padding: 10px;
}

.container-current {
    text-align: center;
}

.title {
    margin: 10px;
    padding: 10px;
}

.business {
    width: 600px;
    text-align: left;
    display: inline-block;
    margin: 10px;
    padding: 5px;
}

.business h4 {
    margin: 5px;
    padding: 5px;
}

.business ul li {
    margin: 10px;
    padding: 10px;
}

.container1 {
    display: flex;
    justify-content: center;
}

.container-done {
    text-align: center;
}

.resume {
    width: 600px;
    text-align: left;
    display: inline-block;
    margin: 10px;
    padding: 5px;
}

.resume h4 {
    margin: 5px;
    padding: 5px;
}

.resume ul li {
    margin: 10px;
    padding: 10px;
}

.container-down {
    text-align: center;
}

.down {
    text-align: left;
    margin: 10px;
    padding: 10px;
}